/***   HEADER    ****/
.logo-and-form {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        flex-flow: row;
        align-items: center;
    }
    @include desktop {
        justify-content: flex-start;
        margin-left: 2rem;
    }
}

